.bio-editor-container {
    // border: 1px solid #ccc;
    // padding: 10px;
    border-radius: 5px;
    width:100%;
    // margin: 20px auto;

    .bio-display {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // align-items: center;
        position: relative;
        width: 100%;
        h3 {
            margin: 5px;
            padding: 5px;
        }
        p {
            margin: 0;
            flex: 1;
            padding: 5px;
            margin: 0 0 5px 0;
        }

        button {
            background-color: black;
            color: white;
            border: none;
            
            cursor: pointer;
            border-radius: 5px;
            display: flex;
            // position: absolute;
            position: absolute;
            top: 0;
            right: 0;
            align-items: center;
            img {
                width: 20px;
                height: 20px;
                position: absolute;
                top: 0;
                right: 0;
                margin: 5px;
            }
        }
    }

    .bio-editor {
        textarea {
            width: 100%;
            height: 100px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            resize: none;
        }

        .bio-editor-actions {
            display: flex;
            justify-content: flex-end;
            margin-top: 10px;

            button {
                background-color: #7359d3ba;
                color: white;
                border: none;
                padding: 5px 10px;
                cursor: pointer;
                border-radius: 5px;
                margin-left: 10px;

                &:first-child {
                    background-color: #41a558ca;
                }
            }
        }
    }
}
