.tag-input-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 5px;
    // border: 1px solid #ccc;
    // border-radius: 5px;
    margin-bottom: 10px;
    flex-direction: column;

    .errorPop{
            color: rgb(199, 84, 84);
            font-size: 13px !important;
            margin-top: 5px !important;
            margin-bottom: 5px !important;
            // border: 1px solid #98badbf9;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

    }
    

    ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;

        img {
            width: 10px;
            height: 10px;
            cursor: pointer;
        }
    }

    .tag {
        list-style: none;
        // background-color: #98badbf9;
        color: white;
        padding: 2px 5px;
        margin-right: 5px;
        // margin-left: 5px;
        margin-bottom: 5px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .tagInput {
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;
            padding-left: 2px;
            // margin-rixsght: 5px;
        }

        button {
            background-color: transparent;
            color: white;
            border: none;
            cursor: pointer;
            margin-left: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    input {
        flex: 1;
        padding: 5px;
        margin-bottom: 5px;
        border: none;
        outline: none;
    }

    
}
