.waterfallContainer {
    display: flex;
    justify-content: space-between;
    gap: 15px; // 调整间隙大小

    .waterfallColumn {
        display: flex;
        flex-direction: column;
        gap: 15px; // 卡片间的间隙
    }
}


